#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none      &none     &none     &none                 &none                                 &none      &none  &none      &none    &none      &none
&none  &kp Q      &kp W     &kp E     &kp R                 &kp T                                 &kp Y      &kp U  &kp I      &kp O    &kp P      &none
&none  &kp A      &kp S     &kp D     &kp F                 &kp G      &none          &kp E       &kp H      &kp J  &kp K      &kp L    &kp MINUS  &none
&none  &kp Z      &kp X     &kp C     &kp V                 &kp B      &kp BACKSPACE  &kp DELETE  &kp N      &kp M  &kp COMMA  &kp DOT  &kp H      &kp D
&none  &kp LCTRL  &kp LGUI  &kp LALT  &mt LEFT_SHIFT GRAVE  &kp SPACE  &lt 3 ENTER    &lt 1 TAB   &lt 2 TAB  &kp F  &kp G      &kp A    &kp B      &kp C
            >;
        };

        layer_1 {
            bindings = <
&none  &none         &none            &none             &none                 &none                    &none                  &none                 &none      &none                &none                    &none
&none  &none         &kp LS(N7)       &kp ASTERISK      &kp LEFT_PARENTHESIS  &none                    &kp ASTERISK           &kp LEFT_PARENTHESIS  &none      &kp LS(GRAVE)        &none                    &none
&none  &none         &kp DOLLAR       &kp PERCENT       &kp AMPS              &none      &none  &none  &kp LS(RIGHT_BRACKET)  &kp LS(BACKSLASH)     &none      &kp LEFT_BRACKET     &kp LS(INTERNATIONAL_1)  &none
&none  &kp QUESTION  &kp EXCLAMATION  &kp LS(NUMBER_2)  &kp HASH              &kp TILDE  &none  &none  &kp RIGHT_BRACKET      &kp BACKSLASH         &kp SLASH  &kp INTERNATIONAL_3  &none                    &none
&none  &none         &none            &none             &none                 &none      &none  &none  &none                  &none                 &none      &none                &none                    &none
            >;
        };

        layer_2 {
            bindings = <
&none  &none               &none         &none         &none               &none                               &none       &none   &none   &none   &none    &none
&none  &kp LS(APOSTROPHE)  &kp N7        &kp N8        &kp N9              &kp COLON                           &none       &kp F7  &kp F8  &kp N9  &kp F10  &none
&none  &kp SLASH           &kp NUMBER_4  &kp N5        &kp NUMBER_6        &kp MINUS     &none          &none  &none       &kp F4  &kp F5  &kp F6  &kp F11  &none
&none  &kp PERCENT         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3        &kp PERIOD    &kp LS(MINUS)  &none  &kp ESCAPE  &kp F1  &kp F2  &kp F3  &kp F12  &none
&none  &kp APOSTROPHE      &kp N0        &kp PLUS      &kp LS(LANGUAGE_5)  &kp LC(SEMI)  &none          &none  &none       &none   &none   &none   &none    &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none  &none                &none     &none     &none         &none      &none    &none
&none  &none  &none  &none  &none  &none                &none     &kp TAB   &kp UP_ARROW  &kp TAB    &none    &none
&none  &none  &none  &none  &none  &none  &none  &none  &kp HOME  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &kp END  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none     &none     &none         &none      &none    &none
&none  &none  &none  &none  &none  &none  &none  &none  &none     &none     &none         &none      &none    &none
            >;
        };
    };
};
