
#include "../../../config/keymap.keymap"

/* ファイルの最末尾にこれをそのまま貼り付けます */
/ {
    /* 右手（親機）のビルド時のみ、左手から受信するスプリットデータのX軸（左右）を反転する */
    input_relay_invert {
        compatible = "zmk,split-peripheral-input-relay";
        status = "okay";
        
        /* 受信した全データの左右（X軸）のみを反転 */
        input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT)>;
    };
};
